  <!-- ======= Header ======= -->
  <header id="header" class="header fixed-top d-flex align-items-center">

    <div class="d-flex align-items-center justify-content-between">
      <a routerLink="country" class="logo d-flex align-items-center">
        <span class="d-none d-lg-block">Admin</span>
      </a>
      <i class="fas fa-list-ul toggle-sidebar-btn"></i>
    </div><!-- End Logo -->
    <ul class="sidebar-nav list-inline d-lg-none" id="sidebar-nav">

      <li class="nav-item list-inline-item">
        <a class="nav-link collapsed" routerLink="country">
          <i class="fas fa-tachometer-alt"></i>
          <span class="ms-2">Dashboard</span>
        </a>
      </li><!-- End Dashboard Nav -->

      <li class="nav-item list-inline-item">
        <a class="nav-link collapsed" routerLink="country">
          <i class="fas fa-flag"></i>
          <span class="ms-2">Countries</span>
        </a>
      </li><!-- End Countries Page Nav -->

      <li class="nav-item list-inline-item">
        <a class="nav-link collapsed" routerLink="/city">
          <i class="fas fa-city"></i>
          <span class="ms-2">Cities</span>
        </a>
      </li><!-- End Cities Page Nav -->


    </ul>

  </header>
  <!-- End Header -->
