<!-- ======= Sidebar ======= -->
<aside id="sidebar" class="sidebar">

  <ul class="sidebar-nav" id="sidebar-nav">

    <li class="nav-item">
      <a class="nav-link collapsed" routerLink="country">
        <i class="fas fa-tachometer-alt"></i>
        <span class="ms-2">Dashboard</span>
      </a>
    </li><!-- End Dashboard Nav -->

    <li class="nav-item">
      <a class="nav-link collapsed" routerLink="country">
        <i class="fas fa-flag"></i>
        <span class="ms-2">Countries</span>
      </a>
    </li><!-- End Countries Page Nav -->

    <li class="nav-item">
      <a class="nav-link collapsed" routerLink="city">
        <i class="fas fa-city"></i>
        <span class="ms-2">Cities</span>
      </a>
    </li><!-- End Cities Page Nav -->


  </ul>

</aside><!-- End Sidebar-->
